*{
    margin: 0;
    padding: 0;
}
#products{
    position: absolute;
    top: 0;
    right: 2%;
    width: auto;
    margin-top: 60px;
    background-color: whitesmoke;
    opacity: 0.7;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,250px);
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}